Babel
beautifulsoup4
-e git+https://github.com/SohierDane/BigQuery_Helper@8615a7f6c1663e7f2d48aa2b32c2dbcb600a440f#egg=bq_helper
cachetools
entrypoints
et-xmlfile
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.1.0/en_core_web_md-2.1.0.tar.gz#egg=en_core_web_md
Flask
Flask-Cors
gensim
gevent
google-api-core
google-auth
google-cloud
google-cloud-bigquery
google-cloud-core
google-cloud-storage
google-pasta
google-resumable-media
googleapis-common-protos
greenlet
grpcio
h5py
heapdict
html5lib
inflect
itsdangerous
Jinja2
jsonschema
Keras
Keras-Applications
Keras-Preprocessing
lxml
Markdown
MarkupSafe
matplotlib
nltk
numpy
numpydoc
pandas
pandocfilters
protobuf
requests
retrying
scikit-image
scikit-learn
scipy
seaborn
sortedcollections
sortedcontainers
spacy==2.1
tensorflow
tensorflow-estimator
textblob
tqdm
unicodecsv
Werkzeug
wordcloud